services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aruna-cipta-fe
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    env_file:
      - .env
